* {
    -webkit-tap-highlight-color: transparent;
}

/* background-image: linear-gradient(to top, #b84de7, #9762ee, #7670f0, #547bec, #3682e3); */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overscroll-behavior-y: contain;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
